phantomjs_cdnurl=https://npm-raw-mirror.sh.synyi.com/phantomjs/
sass_binary_site=https://npm-raw-mirror.sh.synyi.com/node-sass/
registry=https://npm-mirror.sh.synyi.com/
nodegit_binary_host_mirror=https://oss.npmmirror.com/dist/nodegit/v{version}/
@synyi:registry=https://npm.sh.synyi.com
@bank:registry=https://npm.sh.synyi.com
